<div >
    <div class="card" style="display: inline-block;height: 4em;width: 15em; margin: 1em;">
      <svg width="2em" height="2em" style="margin: 1em;">
        <g>
          <path
            fill="blue" d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"
          ></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </g>
      </svg>
        <a id={{driveItem.id}} href="www.google.com" class="stretched-link">
          {{driveItem.name}}
        </a>
      </div>
</div>
